body {
    margin: 0;
    padding: 0;
    font-family: 'Rosario', sans-serif;
 }
 


header {
    background-color: black;
    height: 120px;
    width: 100%;
    display: flex;
    position: fixed;
}

.logo{
    background-color: #FFFBFB;
    width: 253px;
    height: 120px;
}
.nav{
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
    
}

.nav_list li{
    padding-right: 40px;
    
}

.nav_list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
}

nav_list a{
    transition: all 0.4s;
}
.nav_list a:hover{
    text-shadow: -5px -3px 0 hsl(15, 27%, 26%),
    -5px -5px 1px hsl(9, 32%, 16%);
    font-size: 40px;

}

.nav_list a:active {
    color: rgb(168, 122, 61);
 }

 /* первая страница, фотогалерея */
 .section_one{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly ;
     padding-top: 130px;
     align-items: center;
     height: 1vh;
     

 }
 /* есть вопрос???????????? */
.section_one div{
    padding: 16px;
    padding-bottom: 0%;
}

.part_two{
    width: 467px;
    height: 370px;
}
.part_three{
    height: 370px;
    width: 467px;
}
     /* ///////////////Аннимация //////////////////// */
.part_two{
    animation: translate_1 ease 1.5s;
}
.part_one{
    animation: translate_1 ease 2.5s;
}
@keyframes translate_1 {
    from{
        margin-left: -600%;

    }
    to{
        margin-left: 0px;
    }
}

.part_three{
    animation: translate_2 ease 1.5s;
}

.part_four{
    animation: translate_2 ease 2.5s;
}

@keyframes translate_2{
    from{
        margin-left: 500%;

    }
    to{
        margin-right: 0px;
    }
}

/* Вторая страница */

.section_2{
    margin-top: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 900px;

}

.left_part{
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-columns: max-content 2fr;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
    padding-left: 15px;
    margin: auto;
    padding: auto;
      
}

.right_part{
    width: 50%;
    height: 100%;
 
}

.foto_hand{
    width: 945px;
    height: 1000px;
}

.inside img{
    width: 300px;
    height: 300px;
    text-align: center;
}
.servise_information{
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
 }
 
.foto2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto3{
    display: flex;
    flex-direction: column;
    align-items: center;
}



 
 /* Аннимация */

 .foto2{
    animation: Trimming 5s infinite  ;
    position: relative;
}

@keyframes Trimming{
    0%{
        top: 0%;
        left: 0%;

    }

    25%{
        left: 0%;
        top: 104%;
    }

   50%{
       top:104%;
       right: 87%;
       z-index: 5;
       
   }

    75%{
        top: 0%;
        right: 87%;
    }

    100%{
        top: 0%;
        right: 0%;
    }

}

.foto4{
   animation: Hair 5s infinite linear ;
   position: relative;
}

@keyframes Hair{
   0%{
       bottom: 0%;
   }

   25%{
       bottom: 0%;
       right: 87%;
   }

   50%{
       bottom: 104%;
       right: 87%;
   }

   75%{
       bottom: 104%;
       right: 0%;

   }

   100%{

   }
}

.foto3{
   animation: Smooth 5s infinite linear;
   position: relative;
}

@keyframes Smooth {
   0%{
       bottom: 0%;
   }

   25%{
       bottom: 105%;
       left: 0%;
   }

   50%{
       bottom: 105%;
       left: 130%
   }

   75%{
       bottom: 0%;
       left: 130%;

   }

   100%{
       bottom: 0%;
       left: 0%;
   }

} 


/* Третья Страница */


.title_text{
    font-size: 96px;
    margin-top: 50px;
    font-weight: 700;
    text-align: center;
}

.specialist{
    display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding-top: 30px;

}



.specialist{
    display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding-top: 30px;

}


.box{
    width: 390px;
    height: 650px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-sizing: border-box;

}

.specialist_box1{
    background-image: url("../img/master1.png");
    border-radius: 40px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    transition: all 1s;
}


.specialist_box2{
    background-image: url("../img/master2.png");
    border-radius: 40px;
    background-repeat: no-repeat;
    transition: all 1s;
}

.specialist_box3{
    background-image: url("../img/master3.png");
    border-radius: 40px;
    background-repeat: no-repeat;
    transition: all 1s;
}

.specialist_box4{
    background-image: url("../img/master4.png");
    border-radius: 40px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    transition: all 1s;
    
}




.name{
    text-align: center;
    color: white;
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 48px;
    background-color: rgba(163, 83, 10, 0.7);
    border-radius: 0px 0px 30px 30px;
    height: 155px;
    line-height: 145px;
    visibility: hidden;
}

.specialist_box1:hover {
    box-shadow: 5px 5px 48px 20px #000000;

}

.specialist_box2:hover {
    box-shadow: 5px 5px 48px 20px #000000;

}

.specialist_box3:hover {
    box-shadow: 5px 5px 48px 20px #000000;

}

.specialist_box4:hover {
    box-shadow: 5px 5px 48px 20px #000000;

}

.specialist_box1:hover .name{
    visibility: visible;
}
.specialist_box2:hover .name{
    visibility: visible;
}
.specialist_box3:hover .name{
    visibility: visible;
}
.specialist_box4:hover .name{
    visibility: visible;
}

/* <!-- ///////////////////// Чертвертая секция ///////////////////// --> */

.section4{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    margin-top: 60px;


}


form{
    background-color: #E5E5E5;
        height: 380px;
    /* display: flex;
    flex-direction: column; */
    margin-top: 40px; 
    width: min-content;
    margin-left: 115px;
    width: 900px;
  
    
}

.map{
    
    width: 50%;
    margin-left: 20px;
    margin-top: 125px;
}

.form_title {
    font-size: 64px;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    width: 76%;
    background-color: #ffffff;
    margin-left: 130px;
} 

form input {
    margin-top: 40px;
    margin-left: 38px;
    /* margin-right: 205px; */
    padding-top: 2rem;
    font-size: 36px;
    font-weight: 700;
    border: none;
    
 
 }
textarea{
     width: 824px;
     height: 209px;
     resize: none;
    border: none;
    outline-style: none;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.5);
    margin: 35px;
    
 }



 .Name_input{
     width: 320px;
     height: 25px;
     color: rgba(0, 0, 0, 0.5);
 }

 .Email_input{
    width: 455px;
    height: 25px;
    color: rgba(0, 0, 0, 0.5);
 }
 
 .contacts{
     display: flex;
     flex-direction: column;
 }

 i{
     color: #000000;
 }


   /* ////////////////Футер///////////////////// */

#footer{
   display: flex; 
   justify-content: space-around;
   margin-top: 100px;
   
}

.contacts {
    text-align: center;
    width: 25%;
    font-size: 1.8rem;
    margin-top: 3rem;
} 
.contacts a {
    color: #000000;
 }

 .time_work {
    text-align: center;
    width: 25%;
    font-size: 32px;
 }
 
 .social {
    text-align: center;
    width: 25%;
    font-size: 32px;
 }

 .social ul {
    list-style-type: none;
    padding: 0;
 }
 .social a {
    color: #000000;
 }
 
 
 
 

